<html xmlns:th="http://www.thymeleaf.0org" xmlns:layout="http://www.w3.org/1999/xhtml" lang="en"
      layout:decorate="~{layouts/dashboard}">


<!--/*@thymesVar id="bills" type="Page<java.util.List<java.util.List>>"*/-->
<div layout:fragment="content">
    <div class="col-md-5">
        <div class="card">
            <div class="card-header card-header-success">
                <h3 class="card-title ">New Bill</h3>
            </div>
            <div class="card-body">
                <form method="get" class="ui form" action="/bill/">
                    <div class="inline field">
                        <input type="text" autofocus name="customer" placeholder="Customer">
                        <button class="ui button">Create Bill</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-12 pt-1">
        <div class="card">
            <div class="card-header card-header-primary">
                <h3 class="card-title ">Recent Bills</h3>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="ui table ">
                        <thead class="text-primsry">
                        <tr>
                            <th>Bill No</th>
                            <th>Customer</th>
                            <th>Start Time</th>
                            <th>Total</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each=" item : ${bills}">
                            <td><a th:href="${'/bill/'+item.getId()}"
                                   th:text="'#'+${#numbers.formatInteger(item.id,8)}"></a></td>
                            <td th:text="${item.customer}">Name</td>
                            <td th:text="${#temporals.format(item.startTime)}">Price</td>
                            <td th:text="${item.total}">Stock</td>
                            <td>
                                <th:block th:switch="${item.status.name()}">
                                    <span class="ui label yellow horizontal" th:case="'PENDING'">PENDING</span>
                                    <span class="ui label green horizontal" th:case="'GOODS_ISSUED'">GOODS ISSUED</span>
                                    <span class="ui label green horizontal" th:case="'COMPLETED'">COMPLETED</span>
                                </th:block>
                                <th:block th:switch="${item.paymentStatus().name()}">
                                    <span class="ui label yellow horizontal"
                                          th:case="'PARTIALLY_PAID'">PARTIALLY PAID</span>
                                    <span class="ui label red horizontal" th:case="'UNPAID'">UNPAID</span>
                                    <span class="ui label green horizontal" th:case="'FULLY_PAID'">FULLY PAID</span>
                                </th:block>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</html>