<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<div th:replace="/header(title='POS Homepage')"></div>


<!--/*@thymesVar id="bills" type="Page<java.util.List<java.util.List>>"*/-->

<div class="col-md-5">
    <div class="card">
        <div class="card-header card-header-success">
            <h3 class="card-title ">New Bill</h3>
            <p class="card-category"> Here is a subtitle for this table</p>
        </div>
        <div class="card-body">
            <form method="get" action="/bill/">
                <div class="form-group has-success bmd-form-group ">
                    <input type="text" class="form-control form-control-success" autofocus name="customer"
                           placeholder="Customer">
                </div>
                <button class="btn btn-success">Create Bill</button>
            </form>
        </div>
    </div>
</div>

<div class="col-md-12 pt-1">
    <div class="card">
        <div class="card-header card-header-primary">
            <h3 class="card-title ">Recent Bills</h3>
            <p class="card-category"> Here is a subtitle for this table</p>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table ">
                    <thead class="text-primsry">
                    <tr>
                        <th>Bill No</th>
                        <th>Customer</th>
                        <th>Start Time</th>
                        <th>Total</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each=" item : ${bills}">
                        <td><a th:href="${'/bill/'+item.getId()}"
                               th:text="${#numbers.formatInteger(item.id,8)}"></a></td>
                        <td th:text="${item.customer}">Name</td>
                        <td th:text="${#temporals.format(item.startTime)}">Price</td>
                        <td th:text="${item.total}">Stock</td>
                        <td>
                            <th:block th:switch="${item.status.name()}">
                                <span class="badge badge-pill badge-warning" th:case="'PENDING'">PENDING</span>
                                <span class="badge badge-pill badge-info" th:case="'GOODS_ISSUED'">GOODS ISSUED</span>
                                <span class="badge badge-pill badge-success" th:case="'COMPLETED'">COMPLETED</span>
                            </th:block>
                            <th:block th:switch="${item.paymentStatus().name()}">
                                <span class="badge badge-pill badge-warning"
                                      th:case="'PARTIALLY_PAID'">PARTIALLY PAID</span>
                                <span class="badge badge-pill badge-danger"
                                      th:case="'UNPAID'">UNPAID</span>
                                <span class="badge badge-pill badge-success"
                                      th:case="'FULLY_PAID'">FULLY PAID</span>
                            </th:block>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <ul class="pagination pagination-info">
                    <li class="page-item">
                        <a href="javascript:void(0);" class="page-link"> prev</a>
                    </li>
                    <li class="page-item">
                        <a href="javascript:void(0);" class="page-link" th:text="${bills.size}">1</a>
                    </li>
                    <li class="page-item">
                        <a href="javascript:void(0);" class="page-link">2</a>
                    </li>
                    <li class="active page-item">
                        <a href="javascript:void(0);" class="page-link">3</a>
                    </li>
                    <li class="page-item">
                        <a href="javascript:void(0);" class="page-link">4</a>
                    </li>
                    <li class="page-item">
                        <a href="javascript:void(0);" class="page-link">5</a>
                    </li>
                    <li class="page-item">
                        <a href="javascript:void(0);" class="page-link">next </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
