<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Shop Manager</title>
    <div th:replace="header :: head"></div>
</head>
<body>
<div class="ui   menu">
    <div class="ui container">
        <a href="/" class="header item">
            <img class="logo" src="/img/angular.png"> &nbsp;
            HelixRx - &nbsp;<span th:text="${title}"> </span>
        </a>
        <a href="/inventory" class="item" th:classappend="${#httpServletRequest.requestURI=='/item'?'active':''}">Inventory</a>
        <a href="/pos" class="item">POS</a>
        <a href="/users" class="item">Users</a>

        <div class="ui simple dropdown item">
            Dropdown <i class="dropdown icon"></i>
            <div class="menu">
                <a class="item" href="/">Link Item</a>
                <a class="item" href="#">Link Item</a>
                <div class="divider"></div>
                <div class="header">Header Item</div>
                <div class="item">
                    <i class="dropdown icon"></i>
                    Sub Menu
                    <div class="menu">
                        <a class="item" href="#">Link Item</a>
                        <a class="item" href="#">Link Item</a>
                    </div>
                </div>
                <a class="item" href="#">Link Item</a>
            </div>
        </div>
        <div class="right menu">
            <div class="ui simple dropdown item" tabindex="0">
                <i class="user icon"></i> <span sec:authentication="name"></span> <i class="dropdown icon"></i>
                <div class="menu " tabindex="-1">
                    <a class="item">Link</a>
                    <a class="item">Link</a>
                    <div class="divider"></div>
                    <a class="item" href="/perform_logout">Logout</a>
                </div>
            </div>
            <a class="item">Link</a>
        </div>
    </div>
</div>
<div class="ui container" style="min-height:80vh" layout:fragment="content"></div>
<div class="ui vertical footer segment">
    <div class="ui container">
        HelixRx 2019. All Rights Reserved
    </div>
</div>

<div th:include="header :: scripts"></div>
<div layout:fragment="script"></div>
<script>
    $('.ui.dropdown')
        .dropdown();
</script>
<script>
</script>
</body>

</html>

<!--
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml" lang="en"
      layout:decorate="~{layouts/dashboard(title='Inventory')}" th:with="title='Inventory'">
<head>
    <title>Title</title>
</head>
<div layout:fragment="content">
    <h1>Inventory Home</h1>
</div>
<div layout:fragment="script"></div>
</html>

-->