<html xmlns:th="http://www.thymeleaf.0org" xmlns:layout="http://www.w3.org/1999/xhtml" lang="en"
      data-th-with="title='Items Information'" layout:decorate="~{layouts/dashboard}"
      th:with="title='Items Information'">
<div layout:fragment="content">
    <h2 class="ui dividing header">
        <!--        <img src="/images/icons/plugin.png">-->
        <div class="content">
            Item Management
            <div class="sub header">Tasks Related to Items can be done here </div>
        </div>
    </h2>

    <h2 class="ui header ">
        All Items
        <a href="/inventory/item/create" class="ui button basic blue " style="float: right"> Create New Item</a>
    </h2>
    <table class="ui table ">
        <thead>
        <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Price</th>
            <th>Stock</th>
            <th colspan="2">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each=" item : ${items}">
            <td th:text="${#numbers.formatInteger(item.id,8)}"></td>
            <td th:text="${item.name}">Name</td>
            <td th:text="${item.price}">Price</td>
            <td th:text="${item.stock}">Stock</td>
            <td>
                <a th:href="${'/inventory/item/'+item.id}">Edit</a> |
                <a th:href="${'/inventory/item/'+item.id}+'/add-stock'">Add Stock</a> |
                <a th:href="${'/inventory/item/'+item.id}+'/print-barcode'" href="#">Print Barcode</a>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <th colspan="5">
                <form action="" method="get" style="display: inline">
                    <span>Items Pre Page </span><select name="size" class="" onChange="submit()">
                    <option th:selected="${items.size==2}" value="2">2</option>
                    <option th:selected="${items.size==10}" value="10">10</option>
                    <option th:selected="${items.size==20}" value="20">20</option>
                </select>
                </form>
                <div class="ui right floated pagination menu"
                     th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}">
                    <a class="icon item " th:classappend="${items.number<1}?'disabled':''"
                       th:href="${urlBuilder.replaceQueryParam('page', items.number-1).toUriString()}">
                        <i class="left chevron icon"></i>
                    </a>
                    <a class="item " th:classappend="${i==items.number}?'active':''"
                       th:each="i: ${#numbers.sequence(0, items.getTotalPages() - 1)}"
                       th:href="${urlBuilder.replaceQueryParam('page', i).toUriString()}"
                       th:text="${i+1}">1</a>

                    <a class="icon item"
                       th:href="${urlBuilder.replaceQueryParam('page', items.number+1).toUriString()}">
                        <i class="right chevron icon"></i>
                    </a>
                </div>
            </th>
        </tr>
        </tfoot>
    </table>
</div>
</html>
