<html xmlns:th="http://www.thymeleaf.0org" xmlns:layout="http://www.w3.org/1999/xhtml" lang="en"
      layout:decorate="~{layouts/dashboard}" th:with="title='Item Information'">
<!--/*@thymesVar id="bill" type="com.dalana.ShopManager.Bill"*/-->
<div layout:fragment="content">

    <div class="col-md-6 ">
        <div class="card">
            <div class="card-header card-header-primary">
                <h3 class="card-title ">Item <span th:if="${item.id}"
                                                   th:text="${'Edit - '+ item.name+' #('+item.id+')'}"></span></h3>
            </div>
            <div class="card-body">
                <form th:object="${item}" method="post" action="/item/create">
                    <input hidden th:field="*{id}"/>
                    <table style="width: 100%;">
                        <tr>
                            <td>Name</td>
                            <td><input required class="form-control" th:field="*{name}"></td>
                        </tr>
                        <tr>
                            <td>Stock</td>
                            <td class="form-group">
                                <input required class="form-control" type="number" th:readonly="*{id}" th:field="*{stock}"></td>
                        </tr>
                        <tr>
                            <td>Unit Price&nbsp;</td>
                            <td><input required class="form-control" type="number" th:field="*{price}"></td>
                        </tr>
                        <tr>
                            <td>Unit</td>
                            <td>
                                <select required class="form-control s-select" th:field="*{unit}">
                                    <option th:value="NOS">NOS</option>
                                    <option th:value="PKT">PKT</option>
                                    <option th:value="m">m</option>
                                </select>
                                <br> <br>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <button class="btn btn-primary">Submit</button>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>
</html>